header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #eaebed;
    opacity: 1;
    transform: translateY(0%);
    transition: transform 500ms ease, opacity 600ms ease;
    z-index: 5;

    &.animate-hide-header{
        opacity: 0;
        transform: translateY(-100%);
    }

    .header-top{
       display: block;
       margin: 0 auto;
       border-bottom: 1px solid lightgrey;
       padding: 0 1em;

       .header-top-nav{
            display: flex;
            position: relative;
            max-width: 1600px;
            margin: 0 auto;

            a{
                display: inline-block;
                text-decoration: none;
                color: rgba(46,49,52,0.80);
                text-transform: uppercase;
                font-size: 14px;
                letter-spacing: 1px;
                text-align: center;
                line-height: 14px;
                padding: 1em 2em;
                border-right: 1px solid lightgrey;
                font-weight: 600;

                &:first-child{
                    padding-left: 0px;
                }
            }

            .header-top-divider{
                position: absolute;
                height: 1px;
                width:100%;
            }
       }
    }

    .header-bottom{
        position: relative;
        display: block;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        color: #4f3b78;
        max-width: 1600px;
        margin: 0 auto;
        padding: 1em;

        @include breakpoint(md){
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }

        nav.main-nav{
            ul{
                display: flex;
                justify-content: space-between;
                width: auto;

                @include breakpoint(sm){
                    width: 400px;
                }

                @include breakpoint(md){
                    width: auto;
                }

                li{
                    padding-top: 1em;
                    padding-right: .5em;

                    @include breakpoint(md){
                        padding: .5em;
                    }

                    a{
                        text-decoration: none;
                        color: rgba(46,49,52,0.80);
                        text-transform: uppercase;
                        font-size: 14px;
                        letter-spacing: 1px;
                        text-align: center;
                        line-height: 14px;
                        font-weight: 600;
                    }
                }
            }

        }

        .sign-up-btn-container{
            position: absolute;
            top: 10px;
            right: 10px;
            width: auto;
           
            @include breakpoint(md){
                position: relative;
                width: auto;
                float: none;
                top: 0px;
                right: 0px;
            }

            @include breakpoint(md){
                width: 176px;
               
            }

            button{
                display: block;
                margin-left: auto;
            }
        }
    }
    
    /* Position and sizing of burger button */
    .bm-burger-button {
        display: block;
        position: relative;
        width: 36px;
        height: 30px;
        right: 0px;
        top: 2px;

        @media only screen and (min-width: 900px){
            display: none;
        }
    }
    
    /* Color/shape of burger icon bars */
    .bm-burger-bars {
        background: white;
        border-radius: 2px;
    }
    
    /* Color/shape of burger icon bars on hover*/
    .bm-burger-bars-hover {
        background: #bdc3c7;
    }
    
    /* Position and sizing of clickable cross button */
    .bm-cross-button {
        width: 36px !important;
        height: 34px !important;
        right: 30px !important;
        top: 8px !important;
    }
    
    /* Color/shape of close button cross */
    .bm-cross {
        background: #bdc3c7;
        height: 28px !important;
        right: 3px;
    }
    
    /*
    Sidebar wrapper styles
    Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
    */
    .bm-menu-wrap {
        position: fixed;
        height: 100%;
        top: 0;
        width: 100% !important;

        @media only screen and (min-width: 600px){
            width: 400px !important;
        }
    }
    
    /* General sidebar styles */
    .bm-menu {
        background: #fff;
        font-size: 1.15em;
    }
    
    /* Morph shape necessary with bubble or elastic */
    .bm-morph-shape {
        fill: #3a0b6e;
    }
    
    /* Wrapper for item list */
    .bm-item-list {
        color: #b8b7ad;
        padding-top: 60px;

        a{
            background-color: white;
            color: rgba(14,30,37,.8);
            display: block;
            font-size: 1.1rem;
            font-weight: 500;
            line-height: 2.618em;
            outline: 0;
            padding: 10px 1em;

            &:nth-child(even) {
            background: rgba(14,30,37,.03);
            }

            &:nth-child(odd) {
                background: lightskyblue;
            }

        }
    }
  
    /* Individual item */
    .bm-item {
        display: inline-block;
    }

    /* Styling of overlay */
    .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
        left: 0;
    }
}