@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

#review-carousel {
    position: relative;

    .glide__track {
        padding: 40px 0px;
    }

    .glide__slides {
        padding: 10px 0px;
    }

    .glide__slide {
        display: grid;
        grid-template-rows: 1fr 1fr;
        background: #FFFFFF;
        box-shadow: 0 1px 2px 0 rgba(46, 49, 52, 0.4);
        border-radius: 4px;
        height: auto;

        img {
            margin: auto;
            padding: 40px;
            padding-bottom: 0px;
            width: 220px;
            height: 100px;
        }

        p {
            opacity: 0.8;
            font-size: 16px;
            color: #2E3134;
            letter-spacing: 0.3px;
            text-align: center;
            line-height: 24px;
            margin: auto;
            padding: 0px 20px 40px 20px;
            font-weight: 500;
            height: 100%;
        }

    }

    .glide__arrows {
        position: absolute;
        top: 0;
        right: 40px;
        left: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        .glide__arrow {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            color: #fff;
            border: none;
            cursor: pointer;
            opacity: 0.8;
            background: #000C28;
            border: 1px solid rgba(244, 245, 247, 0.32);
            box-shadow: 0 7px 12px 0 rgba(46, 49, 52, 0.30);
            border-radius: 50%;
            height: 40px;
            width: 40px;
            padding: 0;

            img{
                height: 12px;
                width: 12px;
            }
        }

        .glide__arrow--right{
            img{
                transform: rotate(180deg);
            }
        }
    }
}