#selectLanguage {

    .language-picker{
        display: block; 
        width: 140px;
    }

    .label-language-swap{
        display: inline-block;
        margin-right: 5px;
        text-transform: capitalize;
    }
    
}