#blogPage{

    .contain{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: 1400px;
        margin: 0 auto;
        border: 2px solid;
    }

    .hero{
        height: 50vh;
    }

    .blog-posts{
        height: 50vh;
    }
}