#homePage{

    .contain{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: 1400px;
        margin: 0 auto;
        border: 2px solid;
    }
    
    .hero{
        height: 50vh;
    
        .contain{
        }
    }
    
    .about{
        height: 50vh;
    
        .contain{
            
        }
    }
    
    .mission{
        height: 50vh;
    
        .contain{
            
        }
    }
    
    .benefits{
        height: 50vh;
    
        .contain{
            
        }
    }
    
    
    .testimonial{
        height: 50vh;
    
        .contain{
            
        }
    }
    
    .call-to-action{
        height: 50vh;
    
        .contain{
            
        }
    }
    
    .blog{
        height: 50vh;
    
        .contain{
            
        }
    }

}

