body[data-theme=light] {
    --main-color: #4f3b78;
    --main-rgba-color: 79, 59, 120;
    --secondary-color: #927fbf;
    --secondary-rgba-color: 146, 127, 191;
    --background-color: #eaebed;
    --text-color: #363b4e;

    transition: background-color .3s;

}