header{
    color: white;
    background-color: darkblue;

    .header-contain{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 30px;

        nav.main-nav{
            ul{
                display: none;
                justify-content: space-between;

                @media only screen and (min-width: 900px){
                    display: flex;
                }

                li{
                    padding: .5em;
                }
            }

        }
    }
    
    /* Position and sizing of burger button */
    .bm-burger-button {
        display: block;
        position: relative;
        width: 36px;
        height: 30px;
        right: 0px;
        top: 2px;

        @media only screen and (min-width: 900px){
            display: none;
        }
    }
    
    /* Color/shape of burger icon bars */
    .bm-burger-bars {
        background: white;
        border-radius: 2px;
    }
    
    /* Color/shape of burger icon bars on hover*/
    .bm-burger-bars-hover {
        background: #bdc3c7;
    }
    
    /* Position and sizing of clickable cross button */
    .bm-cross-button {
        width: 36px !important;
        height: 34px !important;
        right: 30px !important;
        top: 8px !important;
    }
    
    /* Color/shape of close button cross */
    .bm-cross {
        background: #bdc3c7;
        height: 28px !important;
        right: 3px;
    }
    
    /*
    Sidebar wrapper styles
    Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
    */
    .bm-menu-wrap {
        position: fixed;
        height: 100%;
        top: 0;
        width: 100% !important;

        @media only screen and (min-width: 600px){
            width: 400px !important;
        }
    }
    
    /* General sidebar styles */
    .bm-menu {
        background: #fff;
        font-size: 1.15em;
    }
    
    /* Morph shape necessary with bubble or elastic */
    .bm-morph-shape {
        fill: #3a0b6e;
    }
    
    /* Wrapper for item list */
    .bm-item-list {
        color: #b8b7ad;
        padding-top: 60px;

        a{
            background-color: white;
            color: rgba(14,30,37,.8);
            display: block;
            font-size: 1.1rem;
            font-weight: 500;
            line-height: 2.618em;
            outline: 0;
            padding: 10px 1em;

            &:nth-child(even) {
            background: rgba(14,30,37,.03);
            }

            &:nth-child(odd) {
                background: lightskyblue;
            }

        }
    }
  
    /* Individual item */
    .bm-item {
        display: inline-block;
    }

    /* Styling of overlay */
    .bm-overlay {
        background: rgba(0, 0, 0, 0.3);
        left: 0;
    }
}