.btn{
    display: inline-block;
    background: #0069D2;
    color:white;
    box-shadow: 0 1px 2px 0 rgba(46,49,52,0.40);
    border-radius: 4px;
    border: none;
    padding: 12px 14px;
    text-transform: uppercase;
}

.is-hidden{
    display: none !important;
}